.logo{
    max-width: 7cm;
    max-height: 4cm;
}

.container
{
    width: 100%;
    margin: 0 auto;
    padding: 6%;
}
.submit{
    background-color: #7B0D12;
    color: white;
    border-radius: 20px;
    border: none;
}
.submit:hover{
    background-color: #a72963;
    cursor: pointer !important;
}

.ini
{
    left: 600px;
}

.submitLog a {


    background-color: #7B0D12;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    position: relative;
    left: 1025px;
    bottom: 200px;
    top: -15px;

}

.submitLog{

    color: black;
    text-decoration: none;
    padding: 7px;
    position: absolute;
    left: 40px;
    font-family: Arial;


}



body{
    overflow-x: hidden;
 }

#inicio{
    width: 100px;
    height: 40px;
    position: relative;
    font-size:large;
}

#categorias{
    width: 120px;
    height: 40px;
    margin: 0.5cm;
    font-size: large;
}
#login{
    width: 170px;
    height: 40px;
    font-size:large;
    position:relative;
    right:-175%;
}
.menu{
    position: absolute;
    top:5%;
    left:13%;
    align-items: center;
}
.carrito{
    max-width: 2cm;
    max-height: 2cm;
    position: absolute;
    top:13%;
    right:-200%;
}
.carrito:hover{
    background-color: blanchedalmond;

}
header{
    background-color: rgb(201, 195, 187);
    margin: 0px;
    max-height: 300px;
}
*{
    margin:0px;
}
body{
    background-color: #7B0D12;
}
.pregunta{
    font-size: 480%;
    max-width: 20cm;
    text-align: center;
    color:rgb(241, 205, 160);
    font-family: cursive;
    font-weight: 800;
}
 .pedir{
    width: 120px;
    height: 60px;
    position: absolute;
    left:300px;
    background: linear-gradient(65deg, orange, yellow);
    border-radius: 30px;
    font-weight: bold;
    

}
.pedir:hover{
    color: rgb(0, 0, 0) !important;
    box-shadow: 0 4px 16px rgb(222, 235, 53);
    /*transition: all 0.2s ease;*/
}
.bf{
    position: absolute;
    top: 30%;
    left: 5%;
}
.hamburguesa{
    max-width: 17cm;
    max-height: 12cm;
    position: absolute;
    right: 0%;
}



  
  footer {
  
  
    background-color: black;
    color: white;
    position: absolute;
    min-width: 100%;
    height: 120px;
    bottom: 0;
   

   
  }

.logoinsta{
    margin-top: 0.9cm;
    max-width: 3cm;
    max-height: 1.5cm;
    margin-left: 2cm;
    margin-bottom: 0;
}
.instagram{
    position: absolute;
    top:40%;
    left:10%;
    font-family: arial;
}
/*.instagram1{
    position: absolute;
    top:55%;
    left:12%;
}*/
.derechos{
    
    position: absolute;
    top:40%;
    left:38%;
    font-family: Arial;
}

.title-cate h1{

    position: absolute;
    left: 45%;
    top: 8%;
    font-family: Arial;
    transition: all 0.5s;

   
}

.title-cate h1:hover
{
    filter: drop-shadow(0 0 1px #7b0d12);
    transition: all 0.5s;
}

.combo
{
    font-family: 'Quattrocento', Arial, sans-serif;
    position: relative;
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(65deg, orange, yellow);



    border: #141414 solid;
    text-align: left;
    color: black;
    float: left !important;
  
}


/*Imagenes de categorias*/

@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
.snip1361 {
  font-family: 'Quattrocento', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 200px;
  max-width: 200px;
  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
  float: left !important;
  background-color: #e2d8c0;
  border-radius: 20px;
  border: 4px solid black;

  
}

.snip1361 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1361 figcaption {
  position: absolute;
  top: calc(77%);
  width: 100%;
  background-color: #f8d585;
 opacity: 85%;
  padding: 15px 25px 65px;
}
.snip1361 figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: -webkit-linear-gradient(top, transparent 20%, #f8d585 130%);
  background-image: linear-gradient(to bottom, transparent 20%, #f8d585 130%);
}



.snip1361 a {
  position: absolute;
  top: 4px;
  left: 61px;
  text-decoration: none;
  width: 200px;
  height: 20px;
  color: black;
  font-weight: bold;
}

.snip1361:hover figcaption,
.snip1361.hover figcaption {
  top: 95px;
}





